body {
    margin: 0px 0px 0px 10px;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('stone.jpg.png');
    background-size: cover;
}

title {
    text-align: center;
    font-size: 1.625rem;
    letter-spacing: .075em;
    font-weight: 200;
}

nav {
    background: #184F36;
    height: 30px;
    padding-top: 10px;
    margin-left: 0px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    color: #b37c57;
    padding: 15px 10px;
}

nav a:visited {
    color: #fff;
}

nav a.selected,
nav a:hover {
    color: #b37c57;
}

header p {
    text-align: center;
    color: azure;
    text-decoration: underline;
}

.main {
    width: 610px;
    margin: auto;
    margin: auto;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    height: 28em;
    border-bottom: 10px;
    border-top: 5px;
    background-color: #666600;
    background-image: url(hangingboard.jpg);
    background-size: cover;
}

h1 {
    font-size: 1.625rem;
    font-family: 'Abolition Regular', Halvetica, Arial, sans-serrif;
}

h2 {
    font-size: 3.3125rem;
    font-family: 'Abolition Regular', Halvetica, Arial, sans-serrif;
}

h3 {
    font-size: 1.25em;
    color: blue;
}

.primary {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.map {
    border-collapse: collapse;
    border-spacing: 0;
    color: chartreuse;
    height: 200px;
    width: 20em;
    position: relative;
    left: 950px;
    bottom: 360px;
}

.explanation {
    border: dotted #CCCbCC;
    color: ghostwhite;
    text-emphasis: bold;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: bisque;
    color: darkcyan;
    height: 250px;
    width: 30em;
    position: relative;
    left: 400px;
    bottom: 600px;
    border: 5px dashed RGB(37, 16, 161);
}

.table li {
    position: relative;
    left: 5px;
    bottom: 450px;
}

.searchsection {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 7px;
}

.maintext {
    color: ghostwhite;
    text-emphasis: bold;
    border-width: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    border: 3px dotted #CCCbCC;
    margin-bottom: 10px;
}

.map-container {
    width: 400px;
    height: 300px;
    border: 5px black solid;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid #dfe2e6;
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 960px;
    color: RGB(251, 255, 254);
}

.firstpart,
.secondpart {
    width: 46.5%;
}

.firstpart {
    float: left;
}

.secondpart {
    float: right;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media (max-width: 760px) {
    .primary,
    .secondary {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
}

@media (max-width: 1024px) {
    .primary,
    .secondary {
        width: 90%;
    }
}
